            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cuahang') }}"><i class="fa fa-sitemap fa-fw"></i> Cửa Hàng</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>Quãn Lý Thực Đơn<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('admin_category') }}"><i class="fa fa-table fa-fw"></i> Loại Thực Đơn</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_thucdon') }}"><i class="fa fa-table fa-fw"></i> Thực Đơn</a>
                                </li>
                            </ul>
                        
                        <li>
                            <a href="{{ path('admin_thongke') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Thống Kê</a>
                            {#<ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>#}
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>