{% extends 'AdminBundle::layout.html.twig' %}
{% block header %}
    Cửa Hàng
{% endblock header %}
{% block body %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Cửa Hàng</h1>
                </div>
                <div class=".col-lg-1">
                    <a href="{{ path('admin_cuahang_create') }}" class="btn btn-success">Thêm Cửa Hàng</a>
                </div>
                <br/>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                {% for cuaHang in listCuaHang %}
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-10 col-sm-10 col-lg-10">
                                    <a href="{{ path('admin_cuahang_detail', { 'id': cuaHang.idCuaHang }) }}">{{ cuaHang.name }}</a>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-lg-1">
                                    <a href="{{ path('admin_cuahang_edit', { 'id': cuaHang.idCuaHang }) }}">
                                        <span class="text-right fa fa-edit"></span>
                                    </a>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-lg-1">
                                    <a href="{{ path('admin_cuahang_delete', { 'id': cuaHang.idCuaHang }) }}" onclick="return confirm('Bạn có chắc muốn xoá không?')">
                                        <span>X</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="text-center">
                                <a href="{{ path('admin_cuahang_detail', { 'id': cuaHang.idCuaHang }) }}"><img src="{{ asset(cuaHang.image) }}" class="img-thumbnail"/></a>
                            </div><br/>
                            <p class="text-left">Địa chỉ: {{ cuaHang.address }}</p>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                        Showing 1 to 10 of 57 entries
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                <a href="#">Previous</a>
                            </li>
                            <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                <a href="#">1</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">2</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">3</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">4</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">5</a>
                            </li>
                            <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                <a href="#">6</a>
                            </li>
                            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                <a href="#">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
{% endblock body %}
